<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/index.css">
	<script src="/app.js"></script>
	<title>Pokédex</title>
</head>

<body>
	
	<div class="container">
		<section id="header">
			<img src="/img/main-img.png" alt="pokemon img">
		</section>
		<!-- <h1 class="main-title">Pokédex</h1> -->

		<section id="search">
			<form id="search-form">
				<input type="text" id="search-input">
				<input type="submit" value="search" id="submit">
				<div class="suggestions"></div>
			</form>
		</section>
		<section id="list-container">
		</section>
		<section id="loader">
			<div class="img">
				<img src="/img/default.png" alt=""></div>
		</section>
</body>

</html>