* {
	margin: 0;
	padding: 0;
}

body {
		background-image: url("https://st2.depositphotos.com/3213441/12022/v/950/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg");
	
	.container {
		width: 90%;
		max-width: 1150px;
		height: fit-content;
		margin: auto;
		background: rgba(255, 255, 255, 0.938);
		border-radius: 2px;
		opacity: 0.9;

		.main-title {
			text-align: center;
			margin-top: 40px;
		}
		#search {
			margin-top: 40px;
			#search-form {
				width: 100%;
				position: relative;
				width: 50%;
				min-width: 200px;
				margin: auto;
				#search-input {
					display: block;
					width: 100%;
					padding: 5px;
					border: 2px solid darken(rgb(226, 226, 226), 10);
					border-radius: 5px;
					&:focus-visible {
						border: 2px solid darken(rgb(226, 226, 226), 25);
						outline: 1px solid darken(rgb(226, 226, 226), 35);
					}
					&:focus-visible ~ #submit {
						border: 2px solid darken(rgb(226, 226, 226), 25);
						outline: 1px solid darken(rgb(226, 226, 226), 35);
					}
				}
				#submit {
					position: absolute;
					top: 0;
					left: 100%;
					padding: 5px;
					background-color: rgb(226, 226, 226);
					border-radius: 5px;
					border: 2px solid darken(rgb(226, 226, 226), 10);
					cursor: pointer;
					&:focus {
						border: 2px solid darken(rgb(226, 226, 226), 25);
						outline: 1px solid darken(rgb(226, 226, 226), 35);
					}
				}
			}
		}

	

		#list-container {
			margin-top: 100px;
			display: flex;
			gap: 70px;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 40px;

			@media only screen and (max-width: 600px) {
				gap: 30px;
			}
			.pokemon {
				width: 150px;
				padding: 15px 25px;
				border: 1px solid black;
				.name {
					text-align: center;
				}
				.img {
					margin: auto;
					width: fit-content;
					img {
						width: 128px;
					}
				}
				.info {
					span {
						font-weight: bold;
					}
				}
			}
		}

		#loader {
			width: 100%;
			visibility: hidden;

			&.show {
				visibility: visible;

				img {
					animation: rotate 2s linear infinite;
				}
			}
			.img {
				width: 30px;
				margin: auto;
				margin-top: 30px;
				margin-bottom: 30px;

				img {
					width: 30px;
				}
			}
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
